---
---

.wrapper {
  max-width: 95%
}

.page-content {
  max-width: 95%
}
h1 {
    text-align: center;
}
p {
    text-align: justify;
}
body {
    max-width: 1000px;   /* controls content width */
    margin: 0 auto;      /* centers content */
    padding: 0 40px;     /* space left & right */
}
