---
---

.wrapper {
  max-width: 95%
}

.page-content {
  max-width: 95%
}
h1 {
    text-align: center;
}
p {
    text-align: justify;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 30px;
}
